In [7]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
df= pd.read_csv("/Users/devkiran/Desktop/project-1/productivity-pattern-tracker/data/productivity_log.csv")
df.head()

,date,focus_hours,break_minutes,deep_work_sessions,screen_time_hours,sleep_hours,mood_score,productivity_score
0,2025-09-01,4.8,69,4,1.7,5.4,7.0,8.1
1,2025-09-02,5.5,87,5,1.8,5.2,4.0,9.0
2,2025-09-03,6.0,102,5,2.1,7.9,6.6,9.0
3,2025-09-04,6.9,60,5,4.3,9.0,5.5,9.0
4,2025-09-05,4.5,100,4,2.7,5.0,6.1,7.2

In [10]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                123 non-null    object
 1   focus_hours         123 non-null    float64
 2   break_minutes       123 non-null    int64
 3   deep_work_sessions  123 non-null    int64
 4   screen_time_hours   123 non-null    float64
 5   sleep_hours         123 non-null    float64
 6   mood_score          123 non-null    float64
 7   productivity_score  123 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.8+ KB

,focus_hours,break_minutes,deep_work_sessions,screen_time_hours,sleep_hours,mood_score,productivity_score
count,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,4.491057,88.292683,3.869919,3.553659,7.030894,5.941463,7.063415
std,1.297729,24.710365,1.093643,1.463506,1.007686,1.615394,1.980903
min,1.400000,30.000000,1.000000,1.000000,4.400000,1.700000,3.000000
25%,3.550000,70.000000,3.000000,2.550000,6.300000,5.050000,5.900000
50%,4.600000,91.000000,4.000000,3.300000,7.000000,6.100000,7.600000
75%,5.400000,107.500000,5.000000,4.750000,7.700000,6.850000,9.000000
max,7.600000,138.000000,5.000000,8.300000,9.000000,10.000000,9.000000